body{
	background: #000000;
	color: #fff;
}

h2{
	font-size: 60px;
	font-family: Helvetica;
}

.pantallaCompleta{
	margin:     auto;
  background: gold;
  width:      100%;
  justify-content: center;
  align-items: center;

}
/*pantalla del tamaño de la imagen*/
.element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}